### Node ###
# Logs
logs
*.log
npm-debug.log*
node_modules/
.idea/
.vscode/

# Coverage directory used by tools like istanbul
coverage
# Optional eslint cache
.eslintcache
# dotenv environment variable files
.env

